.featured {
  grid-column: span 2;
  padding: 12px;
}

.featured__image {
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
  width: 50%;
}

.featured__description p {
  font-size: 13px;
  color: var(--grey);
}

.read-more-link {
  font-size: 13px;
  text-transform: uppercase;
}

.read-more-link i {
  margin-left: .5em;
}