.searchbar {
  background-color: var(--brand-color);
  margin-bottom: 1rem;
}

.searchbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar__title {
  color: white;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  margin-right: 2rem;
}

.searchbox {
  flex: 1;
  position: relative;
}

.fa-search {
  position: absolute;
  left: .5em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--brand-color);
}

.search-input {
  width: 100%;
  border: none;
  color: #666;
  font-size: 16px;
  line-height: 40px;
  padding-left: 40px;
  padding-right: 100px;
  margin: 6px 0;
}

.searchbox:focus {
  outline: 0;
}

.search-btn {
  text-transform: uppercase;
  color: white;
  width: 90px;
  height: 38px;
  border: none;
  background: #f99;
  cursor: pointer;
  line-height: 38px;
  padding: 0;
  position: absolute;
  right: 2px;
  top: 8px;
}

.search-btn:hover {
  background: #f66;
}