header {
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  padding: .5em 0;
  color: #f50057;
}

.header__nav {
  color: #525252;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  align-self: stretch;
  display: flex;
}


.nav-link {
  font-size: 15px;
  padding: 0 .75em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-link-active {
  color: #f66;
}

.nav-link:hover {
  color: white;
  background-color: #f66;
}

.nav-link:hover > .dropdown {
  display: flex;
  flex-direction: column;
}

.header__login {
  color: #505457;
}

.header__login a {
  margin: 0 .5em;
}

/* DROPDOWN */

.dropdown {
  display: none;
  position: absolute;
  top: 69px;
  left: 0;
  width: 100vw;
  padding: 1rem;
  background-color: #f66;
  z-index: 10;
}

.dropdown .container {
  width: 980px;
  flex-direction: column;
}

.dropdown-categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dropdown__category {
  flex: 1;
}

.category-list {
  list-style: none;
}