header {
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1010px) {
  header {
    justify-content: space-between;
  }
}

.logo {
  font-size: 32px;
  padding: .5em 0;
  color: #EF798A;
}

.header__nav {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  align-self: stretch;
  display: flex;
}


.nav-link {
  color: #525252;
  font-size: 15px;
  padding: 0 .75em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-link-active {
  color: var(--magenta);
}

.nav-link:hover {
  color: white;
  background-color: var(--magenta);
}

.dropdown {
  display: none;
  flex-direction: column;
}

/* DROPDOWN */

.dropdown {
  display: none;
  position: absolute;
  top: 69px;
  left: 0;
  width: 100vw;
  padding: 1rem;
  background-color: var(--magenta);
  z-index: 10;
}

.dropdown .container {
  width: 980px;
  flex-direction: column;
}

.dropdown-categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dropdown__category {
  flex: 1;
}

.category-list {
  list-style: none;
}