.shop {
  grid-column: span 3;
}

.shop__products {
  display: flex;
}

.product {
  flex: 1;
  padding: .5rem;
}

.product__image {
  width: 100px;
  height: 100px;
  margin-right: .75rem;
  float: left;
  background-color: #ddd;
}